body
{
height:500px;
width:500px;
background-position:center;
background-image:url('library.jpg');
margin:40px auto;
background-repeat:no-repeat;
}
h1
{
color:red;
text-align:center;
}
#main-container1
{
margin-top:50px;
color:yellow;
padding-left:170px;

}
#container5
{
font-weight:bold;
border-left-width: 0px;
border-right-width:0px;
border-color:black;
border-top-width:1px solid ;
border-bottom-width: 1px solid 
text-align:center;
padding-left:25px;
}
#container6
{
font-weight:bold;
border-color:black;
background-color:#1a93c9;
margin-left:10px;
box-shadow:0px 0px 10px #1a93c9;
}



















;
}
::placeholder
{
font-weight:bold;

}